---
layout: page
title: just do it!
---
<!-- 分页功能实现 -->
{% if paginator.total_pages > 1 %}
    <!-- 开启分页换页功能 -->
    <ul class="posts">
    {% for post in paginator.posts %}
        <li class="post">
            <small>{{ post.date | date_to_string }}</small>
            <small><a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></small>
            <br>
            <a class="nice-title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            <p class="nice-text">{{ post.desc }} 
            ...
            <!-- <a href="{{ BASE_PATH }}{{ post.url }}">...</a> -->
            </p>
        </li>
    {% endfor %}
    </ul>
{% endif %}


<div align="center">
    <!-- 上一页跳转 -->
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
    {% endif %}
    <!-- 遍历中间的页 -->
    <!-- {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <span class="active">{{ page }}</span>
        {% elsif page == 1 %}
            <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %} -->
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}    
    <!-- 下一页跳转 -->
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
    {% endif %}
</div>

<!-- <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
        <small>{{ post.date | date_to_string }}</small>
        <small><a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></small>
        <br>
        <a class="nice-title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        <p class="nice-text">{{ post.content | strip_html | truncatewords: 50 }} <a href="{{ BASE_PATH }}{{ post.url }}">Read more!</a></p>
    </li>
    {% endfor %}
</ul> -->

<!-- 多说评论功能 -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'wangxin1248';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>