---
layout: default
---

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%-d %B, %Y. It was a %A. " }} <span id="busuanzi_container_page_pv">
        <div align="left"><i class="fa fa-eye" title="eye"></i>view: <span id="busuanzi_value_page_pv"></span></div>
      </span><a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></span><hr/>
    <span class="post-text">{{ content }}</span>
</div>

<!-- 分页链接 -->
<div class="pagination">
        {% if paginator.previous_page %}
          <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="/page{{ paginator.next_page }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
      </div>
<!--<div class="box">-->
    <!-- google ads code box -->
<!--</div>-->

{% include JB/comments %}